/* * {
  background-color: #FFFAF0;
} */

.logo {
  position: absolute;
  top: 120px;
  z-index: 7;
  height: 397px;
  left: calc(50% - 230px);
  background: transparent;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f6ccd7;
}

.bg {
  height: 100vh;
  width: 100%;
}

.desktop {
  display: none;
}

/* medida para desktop */

@media screen and (min-width:840px) {
  /* * {
    background-color: #FFFAF0;
  } */

  .wrapper {
    width: 50%;
  }
  .logo {
    position: absolute;
    top: 28px;
    z-index: 7;
    height: 325px;
    /*left: calc(50% - 230px);*/
    background: transparent;
    right: 738px;
    left: 7% !important;
    position: absolute;
  }

  .bg {
    height: 140vh;
    width: auto;
    margin: auto;
    position: absolute;
    left: 0%;
    bottom: 0%;
  }

  .desktop {
    display: block;
    height: 40vh;
    width: auto;
    margin-bottom: 30px;
  }

  .input-wrapper {
    position: absolute;
    right: 15%;
    top: -2%;
  }
}